<div
  class="c-principal d-flex justify-content-center align-items-center min-vh-100"
>
  <div class="cardRegistro p-4 shadow-lg rounded" [@fadeIn]>
    <h3 class="formTitle text-center mb-4">Registro de Usuario</h3>

    <!-- Botones para elegir tipo de usuario -->
    <div class="selector-tipo-usuario text-center mb-4" *ngIf="!userType">
      <button
        class="btn-user-type btn btn-outline-primary d-block w-100 mb-3"
        (click)="setUserType('paciente')"
      >
        <img src="assets/users/paciente.png" alt="Paciente" />
        <span>Paciente</span>
      </button>

      <button
        class="btn-user-type btn btn-outline-primary d-block w-100"
        (click)="setUserType('especialista')"
      >
        <img src="assets/users/especialista.png" alt="Especialista" />
        <span>Especialista</span>
      </button>
    </div>

    <!-- Formulario de Registro -->
    <form
      *ngIf="userType"
      [formGroup]="formulario"
      (ngSubmit)="agregarUsuario()"
    >
      <!-- Nombre -->
      <div class="mb-3">
        <label for="nombre" class="form-label">Nombre</label>
        <input
          type="text"
          class="form-control"
          id="nombre"
          formControlName="nombre"
        />
        <div
          *ngIf="
            formulario.get('nombre')?.invalid &&
            formulario.get('nombre')?.touched
          "
          class="text-danger small"
        >
          El nombre es obligatorio.
        </div>
      </div>

      <!-- Apellido -->
      <div class="mb-3">
        <label for="apellido" class="form-label">Apellido</label>
        <input
          type="text"
          class="form-control"
          id="apellido"
          formControlName="apellido"
        />
        <div
          *ngIf="
            formulario.get('apellido')?.invalid &&
            formulario.get('apellido')?.touched
          "
          class="text-danger small"
        >
          El apellido es obligatorio.
        </div>
      </div>

      <!-- Edad -->
      <div class="mb-3">
        <label for="edad" class="form-label">Edad</label>
        <input
          type="number"
          class="form-control"
          id="edad"
          formControlName="edad"
          appSoloNumeros
        />
        <div
          *ngIf="
            formulario.get('edad')?.invalid && formulario.get('edad')?.touched
          "
          class="text-danger small"
        >
          La edad es obligatoria y debe ser mayor a 0.
        </div>
      </div>

      <!-- DNI -->
      <div class="mb-3">
        <label for="dni" class="form-label">DNI</label>
        <input
          type="text"
          class="form-control"
          id="dni"
          formControlName="dni"
          placeholder="Ejemplo: 12345678"
          appSoloNumeros
        />
        <div
          *ngIf="
            formulario.get('dni')?.invalid && formulario.get('dni')?.touched
          "
          class="text-danger small"
        >
          Ingrese un DNI válido (7 u 8 números).
        </div>
      </div>

      <!-- Campos específicos para paciente -->
      <div *ngIf="userType === 'paciente'">
        <div class="mb-3">
          <label for="obraSocial" class="form-label">Obra Social</label>
          <input
            type="text"
            class="form-control"
            id="obraSocial"
            formControlName="obraSocial"
          />
          <div
            *ngIf="
              formulario.get('obraSocial')?.invalid &&
              formulario.get('obraSocial')?.touched
            "
            class="text-danger small"
          >
            La obra social es obligatoria.
          </div>
        </div>

        <div class="mb-3">
          <label for="imagenPerfil" class="form-label"
            >Imagen 1 para Perfil</label
          >
          <input
            type="file"
            class="form-control"
            id="imagenPerfil"
            (change)="onFileChange($event, 'imagenPerfil')"
            required
          />
        </div>

        <div class="mb-3">
          <label for="imagenPerfil2" class="form-label"
            >Imagen 2 para Perfil</label
          >
          <input
            type="file"
            class="form-control"
            id="imagenPerfil2"
            (change)="onFileChange($event, 'imagenPerfil2')"
            required
          />
        </div>
      </div>

      <!-- Campos específicos para especialista -->
      <div *ngIf="userType === 'especialista'">
        <div class="mb-3">
          <mat-form-field appearance="fill" style="width: 100%">
            <mat-label>Especialidad</mat-label>
            <mat-select formControlName="especialidadSeleccionadas" multiple>
              <mat-option
                *ngFor="let especialidad of especialidades"
                [value]="especialidad"
              >
                {{ especialidad }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div
            *ngIf="
              formulario.get('especialidadSeleccionadas')?.invalid &&
              formulario.get('especialidadSeleccionadas')?.touched
            "
            class="text-danger small"
          >
            Debe seleccionar al menos una especialidad.
          </div>
        </div>

        <div class="form-check mb-3">
          <input
            class="form-check-input"
            type="checkbox"
            id="otraCheckbox"
            formControlName="otraSeleccionada"
          />
          <label class="form-check-label" for="otraCheckbox"> Otra </label>
        </div>

        <div class="mb-3" *ngIf="formulario.get('otraSeleccionada')?.value">
          <label for="nuevaEspecialidad" class="form-label"
            >Especificar Especialidad</label
          >
          <input
            type="text"
            class="form-control"
            id="nuevaEspecialidad"
            formControlName="otraEspecialidad"
          />
          <button
            class="btn btn-chip mt-2"
            (click)="agregarEspecialidad()"
            type="button"
          >
            <i class="bi bi-plus"></i> Agregar Especialidad
          </button>
        </div>

        <div class="mb-3">
          <label for="imagenPerfilEspecialista" class="form-label"
            >Imagen de Perfil</label
          >
          <input
            type="file"
            class="form-control"
            id="imagenPerfilEspecialista"
            (change)="onFileChange($event, 'imagenPerfil1')"
            required
          />
        </div>
      </div>

      <!-- Email -->
      <div class="mb-3">
        <label for="email" class="form-label">Correo Electrónico</label>
        <input
          type="email"
          class="form-control"
          id="email"
          formControlName="email"
        />
        <div
          *ngIf="
            formulario.get('email')?.invalid && formulario.get('email')?.touched
          "
          class="text-danger small"
        >
          Ingrese un correo válido.
        </div>
      </div>

      <!-- Contraseña -->
      <div class="mb-3">
        <label for="contraseña" class="form-label">Contraseña</label>
        <input
          type="password"
          class="form-control"
          id="contraseña"
          formControlName="password"
        />
        <div
          *ngIf="
            formulario.get('password')?.invalid &&
            formulario.get('password')?.touched
          "
          class="text-danger small"
        >
          La contraseña debe tener al menos 6 caracteres.
        </div>
      </div>

      <app-captcha (captchaValidoChange)="captchaValido = $event"></app-captcha>
      <div class="mb-3">
        <button
          type="submit"
          class="btn btn-primary w-100"
          [disabled]="formulario.invalid || !captchaValido"
        >
          Registrar
        </button>
        
      </div>
    </form>
  </div>
</div>
